@media (any-hover: hover) {
  .button:hover {
    background-color: #825c10;
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Gotham', sans-serif; // TODO: for example
  color:       white;
  font-weight: 300;
  font-size:   16px;
}

html,
body {
  width:  100%;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

body {
  display:        flex;
  flex-direction: column;
}

main {
  flex:     1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1440px;
  width:     100%;
  padding:   0 40px;
  margin:    0 auto;
  position:  relative;
}

h2 {
  font-size:   32px;
  font-weight: 350;
}

li {
  list-style: none;
  padding:    0;
}

.img-right-arrow {
  height: 14px;
  width:  17px;
}

.btn-scarlet {
  background-color: #CA4326;
}

.btn-scarlet:hover {
  background-color: black;
}

.swiper {
  .swiper-btn {
    height:        40px;
    width:         40px;
    border-radius: 40px;
    background:    rgba(182, 181, 179, .3);
  }
  .swiper-btn::after {
    font-size: 16px;
    color:     #37393b;
  }
}
