.services-and-amenities{
  .section-about {
    padding: 120px 0;
    * {
      font-weight: 350;
      line-height: 1.6;
    }
    .container {
      padding: 0 155px;
    }
    .wrapper {
      display:         flex;
      justify-content: space-between;
    }
    h2 {
      width: 40%;
    }
    ul {
      width: 50%;
    }
    li {
      margin-bottom: 16px;
    }
    .main-about {
      margin-bottom: 40px;
    }
    h3 {
      font-weight: 400;
    }
  }

  .first-section-about {
    padding-top: 80px;
  }

  .last-section-about {
    padding-bottom: 60px;
  }
}

@media(max-width: 1024px) {
  .services-and-amenities{
    .section-about {
      padding: 56px 0;
      .container {
        padding: 0 20px;
      }
      .wrapper {
        flex-direction: column;
      }
      h2 {
        width:         70%;
        font-size:     24px;
        margin-bottom: 24px;
      }
      ul {
        width: 100%;
      }
      .main-about {
        margin-bottom: 24px;
      }
    }
    .first-section-about {
      padding-top: 40px;
    }
    .last-section-about {
      padding-bottom: 28px;
    }
  }
}

@media(max-width: 768px) {
  .services-and-amenities{
    .section-about {
      h2 {
        width: 100%;
      }
    }
  }
}


