.rooms-detail {
  .intro {
    .right {
      ul {
        width:     100%;
        display:   flex;
        flex-wrap: wrap;
      }
      li {
        width: 50%;
        &:first-of-type {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .rooms-detail {
    .intro {
      .right {
        li {
          width: 100%;
        }
      }
    }
  }
}