.comments {
  background: #99604C;
  padding:    11% 0 10%;
  text-align: center;
  * {
    color: #fff;
  }
  .container {
    padding: 0;
  }
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    padding: 0 40px;
  }
  p {
    margin: 0 auto;
  }
  p:nth-of-type(1) {
    max-width:     1130px;
    font-size:     64px;
    margin-bottom: 40px;
  }
  p:nth-of-type(2) {
    margin-bottom: 64px;
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    width:            211px;
    height:           1px;
    left:             50%;
    transform:        translateX(-50%);
    background-color: rgba(255, 255, 255, .1);
  }
  .swiper-scrollbar-drag {
    height:     1px;
    background: white;
    cursor:     pointer;
  }
}

@media(max-width: 768px) {
  .comments {
    p:nth-of-type(1) {
      font-size: 40px;
    }
  }
}