* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Gotham', sans-serif;
  color:       #37393B;
  font-weight: 300;
  font-size:   16px;
}

html,
body {
  width: 100%;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

a, input, select, button {
  transition: .3s linear;
}

body {
  display:        flex;
  flex-direction: column;
}

main {
  flex:     1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1440px;
  width:     100%;
  padding:   0 20px;
  margin:    0 auto;
  position:  relative;
}

h2 {
  font-size:   32px;
  font-weight: 350;
}

li {
  list-style: none;
  padding:    0;
}

.img-right-arrow {
  height: 14px;
  width:  17px;
}

.btn-scarlet {
  background-color: #CA4326;
  border:           0;
  text-align:       center;
  cursor:           pointer;
  text-transform:   uppercase;
  display:          flex;
  justify-content:  center;
  align-items:      center;
  &-big {
    min-width:     208px;
    padding:       16px 0;
    border-radius: 48px;
    color:         #fff;
  }
  span {
    margin-right: 10px;
    color:        #fff;
  }
  img {
    rotate: -45deg;
  }
  &:hover {
    background-color: black;
  }
}

input[type='date']::-webkit-calendar-picker-indicator, select {
  -webkit-appearance:    none;
  -moz-appearance:       none;
  background-image:      url('../img/icons/icon-select-open.svg');
  background-repeat:     no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  height:                6px;
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    height:        40px;
    width:         40px;
    background:    rgba(182, 181, 179, .3);
    border:        1px solid transparent;
    border-radius: 40px;
    transition:    .3s linear;
    &::after, &::after {
      font-size: 16px;
      color:     #37393b;
    }
    &:hover, &:hover {
      border: 1px solid black;
    }
  }
}

.btn-filter {
  display:  flex;
  position: relative;
}

.filter {
  width:            208px;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  border:           1px solid black;
  border-radius:    30px;
  padding:          16px 20px;
  background-color: white;
  position:         absolute;
  top:              0;
  left:             0;
  z-index:          10;
  &-active {
    img {
      transform: rotate(180deg);
    }
    ul {
      display: block !important;
    }
  }
  &-window {
    display:        flex;
    align-items:    center;
    text-transform: uppercase;
  }
  span {
    margin-right: 10px;
    font-size:    14px;
    font-weight:  350;
  }
  img {
    height:     10px;
    transition: .3s linear;
  }
  ul {
    display:     none;
    padding-top: 20px;
  }
  li {
    text-align:     center;
    text-transform: uppercase;
    cursor:         pointer;
    transition:     .2s linear;
    font-weight:    350;
    &:hover {
      color: #CA4326;
    }
    &:not(li:last-of-type) {
      padding-bottom: 15px;
    }
  }
}

@media(max-width: 1024px) {
  .btn-scarlet-big {
    max-width: 335px;
    width:     100%;
  }
  .filter {
    max-width: 335px;
    width:     100%;
  }
}

