* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Gotham', sans-serif;
  color:       #000;
  font-weight: 300;
  font-size:   16px;
}

html,
body {
  width: 100%;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

a, input, select, button {
  transition: .3s linear;
}

body {
  display:        flex;
  flex-direction: column;
}

main {
  flex:     1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1440px;
  width:     100%;
  padding:   0 20px;
  margin:    0 auto;
  position:  relative;
}

h2 {
  font-size:   32px;
  font-weight: 350;
}

li {
  list-style: none;
  padding:    0;
}

.img-right-arrow {
  height: 14px;
  width:  17px;
}

.btn-scarlet {
  background-color: #CA4326;
  border:           0;
  text-align:       center;
  justify-content:  center;
  align-items:      center;
  cursor:           pointer;
  text-transform:   uppercase;
}

.middle-btn-scarlet {
  max-width:     250px;
  padding:       16px 80px;
  border-radius: 48px;
  color:         #fff;
}

.btn-scarlet:hover {
  background-color: black;
}

.swiper {
  .swiper-btn {
    height:        40px;
    width:         40px;
    border-radius: 40px;
    background:    rgba(182, 181, 179, .3);
  }
  .swiper-btn::after {
    font-size: 16px;
    color:     #37393b;
  }
}

input[type='date']::-webkit-calendar-picker-indicator, select {
  -webkit-appearance:    none;
  -moz-appearance:       none;
  background-image:      url('../img/icons/icon-select-open.svg');
  background-repeat:     no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  height:                6px;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid transparent;
  transition: .3s linear;
  &:hover, &:hover {
    border: 1px solid black;
  }
}

@media(max-width: 1024px) {
  //max-width: ;
}