.intro {
  min-height:     100vh;
  height:         100%;
  padding-bottom: 40px;
  .container {
    max-width: 1090px;
  }
  .content {
    padding-top:     50vh;
    display:         flex;
    justify-content: space-between;
    margin:          0 auto;
  }
  .left {
    width: 50%;
    a {
      margin-bottom: 45px;
      display:       flex;
      align-items:   center;
    }
    span {
      font-size:      14px;
      font-weight:    350;
      text-transform: uppercase;
      transition:     .3s linear;
      &:hover {
        color: #CA4326;
      }
    }
    img {
      height:       13px;
      margin-right: 10px;
      filter:       invert(1);
      transform:    rotate(180deg);
    }
    h1 {
      font-size: 64px;
    }
  }
  .right {
    width:        40%;
    padding-left: 30px;
    ul {
      display:       flex;
      flex-wrap:     wrap;
      margin-bottom: 35px;
    }
    h3 {
      font-weight: 400;
    }
    li {
      width:         50%;
      margin-bottom: 5px;
      padding-right: 5px;
      &:first-of-type {
        width: 100%;
      }
    }
  }
}

@media(max-width: 1024px) {
  .intro {
    min-height:     100%;
    padding-bottom: 20px;
    .content {
      padding-top:     17vh;
      flex-wrap:       wrap;
      justify-content: start;
    }
    .left {
      width: 100%;
    }
    .left {
      a {
        margin-bottom: 25px;
      }
      h1 {
        font-size:     40px;
        margin-bottom: 25px;
      }
    }
    .right {
      max-width: 500px;
      width:     100%;
      a {
        display: none !important;
      }
    }
  }
}

@media(max-width: 567px) {
  .intro {
    .right {
      li {
        width: 100%;
      }
    }
  }
}