.subscription {
  text-align: center;
  * {
    color: #fff;
  }
  .back {
    max-width:   1440px;
    height:      500px;
    width:       100%;
    padding-top: 161px;
    object-fit:  cover;
  }
  .content {
    max-width:     921px;
    background:    #37393B;
    border-radius: 24px;
    padding:       64px 80px;
    position:      absolute;
    top:           0;
    left:          50%;
    transform:     translateX(-50%);
    text-align:    center;
  }
  h2 {
    font-size:     64px;
    font-family:   'Evensong', sans-serif;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 40px;
  }
  form {
    display:  flex;
    position: relative;
  }
  input {
    margin-right:   24px;
    background:     transparent;
    border:         0;
    border-bottom:  1px solid rgba(255, 255, 255, .2);
    padding-bottom: 8px;
    transition:     .3s linear;
  }
  label:hover input {
    border-bottom: 1px solid rgba(green, 1);
  }
  button {
    display:        flex;
    align-items:    center;
    position:       absolute;
    top:            -12%;
    right:          0;
    text-transform: uppercase;
    background:     transparent;
    border:         0;
    cursor:         pointer;
    &:hover {
      span {
        color: #CA4326;
      }
    }
  }
  span {
    font-size:    14px;
    margin-right: 14px;
    transition:   .3s linear;
  }
}

@media(max-width: 1024px) {
  .subscription {
    .content {
      padding: 51px 23px;
    }
  }
}

@media(max-width: 768px) {
  .subscription {
    padding-top: 200px;
    .back {
      height:     530px;
      width:      100%;
      object-fit: cover;
    }
    .content {
      min-width: 280px;
      width:     90%;
      padding:   51px 33px;
      top:       100px;
    }
    h2 {
      font-size: 40px;
    }
    form {
      width:     100%;
      flex-wrap: wrap;
    }
    label, input {
      width: 100%;
    }
    button {
      top: 77%;
    }
    label:not(label:last-of-type) {
      display:       inline-block;
      margin-bottom: 20px;
    }
  }
}